@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #4f47e4;
  --secondary: #0067f4;
  --third: #646ee5;
  --white: #ffffff;
  --fncolor: #121212;
  --fncolor2: #1d1d1d;
  --blackColor: #000;
  --grayColor: #6c6c6c;
}
.container {
  margin: 0 auto;
  padding: 0 6.5rem;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h3 {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-family: 600;
}
h6 {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  font-weight: normal;
}
