@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* this class is very important when get head of any section in nav bar 
will get head of section instead of center of section omsa */
.offset::before {
  display: block;
  content: "";
  height: 10rem;
  margin-top: -2rem;
}
:root {
  --primary: #4f47e4;
  --secondary: #0067f4;
  --third: #646ee5;
  --fourth: #535cf1;
  --fifth: #2b354f;
  --white: #ffffff;
  --fncolor: #121212;
  --fncolor2: #1d1d1d;
  --blackColor: #000;
  --grayColor: #6c6c6c;
  --grayColor2: #ecf0f1;
  --grayColor3: #f4f6f7;
  --grayColor4: #e2e2e2;
}
/* .container {
  margin: 0 auto;
  padding: 0 6.5rem;
} */

.btn-normal {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  padding: 0 3rem;
  border: 1px solid #ccc;
  vertical-align: middle;
  position: relative;
  transition: all 0.3s ease-out 0s;
  color: var(--fncolor2);
  margin: 1rem;
  border-radius: 50px;
}

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h3 {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  font-weight: normal;
}
/* margin bottom */
.mb-10 {
  margin-bottom: 10rem;
}
/*padding top and bottom*/
.tb-p-10 {
  padding: 10px 0;
}
.tb-p-15 {
  padding: 15px 0;
}
.tb-p-20 {
  padding: 20px 0;
}
.tb-p-25 {
  padding: 25px 0;
}
.tb-p-30 {
  padding: 30px 0;
}
.tb-p-40 {
  padding: 40px 0;
}
.tb-p-50 {
  padding: 50px 0;
}
.tb-p-60 {
  padding: 60px 0;
}
.tb-p-70 {
  padding: 70px 0;
}
.tb-p-80 {
  padding: 80px 0;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.txt-container {
  text-align: center;
}

/* media query container */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .container {
    width: 560px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1280px;
  }
}
