/* ================ Nav ================== */
#header {
  position: relative;
}
#header .header-holder {
  position: fixed;
  top: 0;
  left: 0;
  /* should make section width 100% after position fixed omsa */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.3s ease;
  z-index: 9999;
}
/* control of hamburger icon style omsa */
#header .navbar-toggler i {
  font-size: 30px;
  color: var(--fncolor);
  transition: all 0.3s ease-out;
}
/* default hide hamburger icon will appear just in tablet and mobile mode omsa */
#header .navbar-toggler {
  display: none;
}
/* #header .menu-bar {
  padding: 0 10rem;
} */
#header .menu-bar .menu-items,
#header .menu-social .social-items,
#header .menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .menu-bar .menu-items li {
  margin: 0 15px;
}

#header .menu-social .social-items li {
  margin: 0 7px;
}
#header .menu-bar .menu-items li a,
#header .menu-social span {
  font-size: 18px;
  font-weight: 600;
}
#header .menu-bar .menu-items li a {
  color: var(--blackColor);
  transition: all 0.3s ease;
}
#header .menu-social li a {
  color: var(--grayColor);
  transition: all 0.5s ease;
}
#header .menu-bar .menu-items li a:hover,
#header .menu-social li a:hover {
  color: var(--primary);
}
#header .menu-social span {
  color: var(--grayColor);
  margin-right: 10px;
}

/* ================ Hero ================== */
#hero {
  background-image: url("../assets/images/6.jpg");
  width: 100%;
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#hero .overlay {
  background: linear-gradient(
    180deg,
    rgba(224, 229, 244, 1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  width: 100%;
  height: 100%;
}
#hero .hero-shape {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#hero .hero-shape img {
  width: 100%;
  /* it's so important prevent margin and padding bottom of shape omsa*/
  display: block;
}
#hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#hero .hero-text h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 48px;
  color: var(--fncolor);
}
#hero .hero-text h6 {
  color: var(--fncolor2);
  padding: 1.1rem 0;
}
#hero .hero-text .hero-btn {
  margin-top: 1.3rem;
  text-transform: uppercase;
}
#hero .hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .main-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  padding: 0 2rem;
  border: 2px solid transparent;
  vertical-align: middle;
  position: relative;
  transition: all 0.4s ease-out 0s;
  color: var(--secondary);
  margin: 0 10px;
  z-index: 1;
}
#hero .main-btn i {
  padding-left: 6px;
  font-size: 14px;
}
#hero .hero-btn li a.main-btn {
  border-radius: 50px;
  line-height: 50px;
  overflow: hidden;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
#hero .hero-btn .btn-one {
  color: var(--white);
}

#hero .hero-btn .btn-one::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #535cf1, #a1474e);
  z-index: -1;
  transition: all 0.3s ease;
  background-position: right center;
  border: 0;
}
#hero .hero-btn .btn-one:hover::before {
  background-image: linear-gradient(to left, #535cf1, #a1474e);
  background-position: left center;
}
#hero .hero-btn .btn-two {
  background-color: var(--white);
}
#hero .hero-btn .btn-two:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}
/* ============== Tablet Responsive ================ */

/* ============== Mobile Responsive ================ */ ;
