/* ================ subscribe ================== */
#subscribe {
  padding-top: 6rem;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910afa),
    url(../assets/images/2.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 10rem;
}

#subscribe .subscribe-details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#subscribe .subscribe-details h2,
#subscribe .subscribe-details p {
  color: var(--white);
}
#subscribe .subscribe-details p {
  font-size: 18px;
  padding: 1.3rem 0;
}
#subscribe .subscribe-news {
  max-width: 380px;
  margin: auto;
  background-color: var(--white);
  padding: 11px 15px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#subscribe .subscribe-news i {
  color: var(--fourth);
  padding-right: 10px;
  font-size: 20px;
}
#subscribe .subscribe-news input {
  border: none;
  outline: none;
  font-size: 17px;
}

#subscribe .subscribe-news button {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  border: none;
  outline: none;
  padding: 10px 15px;
  /* margin-left: 8px; */
  color: var(--white);
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
}
/* ============== Tablet Responsive ================ */

/* ============== Mobile Responsive ================ */
